.data-table{
    border: groove;
}

.data-table td{
    border: groove;
    margin: 0px;
}

.hidden{
    display:none;
}

.simple-button{
    height: 25px;
}

.footer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}